@{
    ViewData["Title"] = "Lab5A";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="container">

    <h4>Welcome!</h4>
    <button class="btn btn-secondary" id="background" onclick="backgroundChange()">Click Here To Change Color</button>
    <br />
</div>

<script>
    function backgroundChange(){
        document.body.style.backgroundColor = "blue";
    }
</script>
